:root {
  --primary-50: #DBD8F3;
  --primary-100: #D0CBEF;
  --primary-200: #C0B9EA;
  --primary-300: #ABA2E3;
  --primary-400: #8F83D9;
  --primary-500: #6A5ACD;
  --primary-600: #4C3AC0;
  --primary-700: #4132A3;
  --primary-800: #372A8B;
  --primary-900: #2F2476;

  --secondary-50: #C6D5FA;
  --secondary-100: #B4C7F8;
  --secondary-200: #9AB4F6;
  --secondary-300: #799CF3;
  --secondary-400: #4C7AF0;
  --secondary-500: #144FE7;
  --secondary-600: #1144C4;
  --secondary-700: #0E3AA7;
  --secondary-800: #0C318E;
  --secondary-900: #0A2A79;

  --neutral-50: #E7E6E6;
  --neutral-100: #6C727F;
  --neutral-200: #757575;
  --neutral-300: #312F2B;
  --neutral-400: #262729;
  --neutral-500: #1D263A;
  --neutral-600: #000929;

  --black: 0 0 0;
  --white: 255 255 255;
  --success: 0 181 58;
  --warning: 250 188 7;
  --danger: 198 55 51;
  --info: 103 178 229;
  --warm-blue: 68 85 234;
  --mystic-blue: #0e0d23;
}
